In [18]:
#Задание 1

#Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
#Определите какому фильму было выставлено больше всего оценок 5.0.

import pandas as pd
data=pd.read_csv('/Users/tanyamak/Desktop/Нетология_Анализ данных/Python/6_Pandas/ml-latest/ratings.csv')
#data[(data['rating']==5)]['movieId'].value_counts().head()
data[(data['rating']==5)]['movieId'].value_counts().head(1)

318    48762
Name: movieId, dtype: int64

In [4]:
#Задание 2

#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
#категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

import pandas as pd
data2 = pd.read_csv('power.csv')

filter1=data2['country'].isin(['Estonia','Lithuania','Latvia'])
filter2 = data2['category'].isin([4,12,21])
filter3 = data2['year'].isin([2005,2006,2007,2008,2009,2010])  #не получается интервалом задать

data2[filter1 & filter2 & filter3]
#data2['quantity'].data2[data2.quantity > 0].sum() #не работает с условием quantity > 0
data2['quantity'].sum()

219179627208.76712

In [28]:
#поиск того, как названа Литва в файле power.csv
data2[data2['country'].str.contains('lit',case=False)]['country'].unique()

array(['Lithuania'], dtype=object)

In [8]:
#поиск того, как названа Эстония в файле power.csv
data2[data2['country'].str.contains('sto',case=False)]['country'].unique()

array(['Estonia'], dtype=object)

In [9]:
#Задание 3

#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
#Примеры страниц (необязательно брать именно эти):
#https://fortrader.org/quotes
#https://www.finanz.ru/valyuty/v-realnom-vremeni

import pandas as pd
pd.read_html('https://fortrader.org/quotes')[1]

,Type,Last,Chg.,Chg.%,Time
0,ВТБ Акции ОАО ВТБ,0.03871,-0.00053,-1.35066,NaN
1,Газпром Акции газпрома,232.78000,+1.55,0.67000,NaN
2,Лукоил Акции Лукойл,5281.50000,+7.5,0.10000,NaN
3,Роснефть Акции Роснефти,406.80000,-3.20,-0.78000,NaN
4,Сбербанк Акции Сбербанка,219.92000,+1.11,0.51000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,25.62000,-0.190,-0.73600,NaN
6,Норникель Акции Норникель,15456.00000,+348,2.00000,NaN
7,Аэрофлот Акции Аерофлота,109.40000,+12.59,13.00000,NaN
8,Северсталь Акции Северсталь,944.80000,-9.4,-1.00000,NaN
9,Транснефть Акции транснефти,146250.00000,-20 050,-12.00000,NaN
10,Ростелеком Курс акций ростелекома,81.10000,+8.27,11.36000,NaN
11,RUSAL акции RUSAL,3.14000,+0.09,2.95000,NaN